services:
  keycloak-http:
    profiles:
      - dev
      - prod
    container_name: keycloak-http
    build:
      context: ./keycloak
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HTTP_RELATIVE_PATH: /auth
      KC_HEALTH_ENABLED: true
      KC_METRICS_ENABLED: true
      KC_TELEMETRY_SERVICE_NAME: keycloak
      KC_TELEMETRY_RESOURCE_ATTRIBUTES: service.version=1.0.0,environment=dev

      # OpenTelemetry Tracing
      KC_TRACING_ENABLED: true
      KC_TRACING_ENDPOINT: http://otel:4317
      KC_TRACING_PROTOCOL: grpc
      KC_TRACING_COMPRESSION: gzip
      KC_TRACING_SAMPLER_TYPE: parentbased_traceidratio
      KC_TRACING_SAMPLER_RATIO: 1.0

      # OpenTelemetry Logs
      KC_TELEMETRY_LOGS_ENABLED: true
      KC_TELEMETRY_LOGS_ENDPOINT: http://otel:4317
      KC_TELEMETRY_LOGS_PROTOCOL: grpc
      KC_TELEMETRY_LOGS_LEVEL: DEBUG
      KC_LOG_MDC_ENABLED: true
    healthcheck:
      test: [
        "CMD-SHELL",
        "exec 3<>/dev/tcp/localhost/8080; \
        echo -en 'GET /health/ready' >&3; \
        # Give the server a moment to respond, then search for 'UP'
        if timeout 3 cat <&3 | grep -m 1 'UP'; then \
          exec 3<&-; exec 3>&-; exit 0; \
        else \
          exec 3<&-; exec 3>&-; exit 1; \
        fi"
      ]
      start_period: 20s
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      otel:
        condition: service_started
    ports:
      - "8180:8080"
    command: start-dev --import-realm --features=opentelemetry-logs
    networks:
      - is-stag-frontend
      - is-stag-backend

  redis-cache:
    profiles:
      - dev
      - prod
    container_name: redis-cache
    image: bitnami/redis
    environment:
      REDIS_PASSWORD: redis
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
    ports:
      - "6379:6379"
    networks:
      - is-stag-backend

  redis-rate-limiter:
    profiles:
      - dev
      - prod
    container_name: redis-rate-limiter
    image: bitnami/redis
    environment:
      REDIS_PASSWORD: redis
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
    ports:
      - "6380:6379"
    networks:
      - is-stag-backend

  react-client:
    profiles:
      - prod
    container_name: react-client
    image: ghcr.io/jakubpavlicek/react-client:0.0.1
    pull_policy: never
    environment:
      VITE_API_URL: http://localhost:8100/api/v1
      VITE_KEYCLOAK_URL: http://localhost:8180/auth
      VITE_KEYCLOAK_REALM: is-stag
    ports:
      - "5173:5173"
    depends_on:
      keycloak-http:
        condition: service_healthy
      api-gateway:
        condition: service_started
    networks:
      - is-stag-frontend
      - is-stag-backend

  api-gateway:
    profiles:
      - prod
    container_name: api-gateway
    image: ghcr.io/jakubpavlicek/api-gateway:0.0.1
    pull_policy: never
    ports:
      - "8100:8100"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      THC_PATH: /actuator/health
      THC_PORT: 8100
      JAVA_TOOL_OPTIONS: "-javaagent:/otel/opentelemetry-javaagent.jar"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel:4317"
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_COMPRESSION: gzip
      OTEL_SERVICE_NAME: api-gateway
      OTEL_RESOURCE_ATTRIBUTES: service.name=api-gateway,service.namespace=dev,service.version=0.0.1,environment=dev
      OTEL_METRICS_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: parentbased_traceidratio
      OTEL_TRACES_SAMPLER_ARG: 1.0
    volumes:
      - ./otel/opentelemetry-javaagent.jar:/otel/opentelemetry-javaagent.jar
    healthcheck:
      test: [ "CMD", "/workspace/health-check" ]
      start_period: 30s
      timeout: 10s
      retries: 5
    depends_on:
      keycloak-http:
        condition: service_healthy
      redis-rate-limiter:
        condition: service_healthy
      codelist-service:
        condition: service_healthy
      student-service:
        condition: service_healthy
      study-plan-service:
        condition: service_healthy
      user-service:
        condition: service_healthy
    networks:
      - is-stag-backend

  student-service:
    profiles:
      - prod
    container_name: student-service
    image: ghcr.io/jakubpavlicek/student-service:0.0.1
    pull_policy: never
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      THC_PATH: /actuator/health
      THC_PORT: 8030
      JAVA_TOOL_OPTIONS: "-javaagent:/otel/opentelemetry-javaagent.jar"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel:4317"
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_COMPRESSION: gzip
      OTEL_SERVICE_NAME: student-service
      OTEL_RESOURCE_ATTRIBUTES: service.name=student-service,service.namespace=dev,service.version=0.0.1,environment=dev
      OTEL_METRICS_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: parentbased_traceidratio
      OTEL_TRACES_SAMPLER_ARG: 1.0
    volumes:
      - ./otel/opentelemetry-javaagent.jar:/otel/opentelemetry-javaagent.jar
    healthcheck:
      test: [ "CMD", "/workspace/health-check" ]
      start_period: 30s
      timeout: 10s
      retries: 5
    ports:
      - "8030:8030"
      - "9030:9030"
    depends_on:
      redis-cache:
        condition: service_healthy
      otel:
        condition: service_started
    networks:
      - is-stag-backend

  study-plan-service:
    profiles:
      - prod
    container_name: study-plan-service
    image: ghcr.io/jakubpavlicek/study-plan-service:0.0.1
    pull_policy: never
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      THC_PATH: /actuator/health
      THC_PORT: 8050
      JAVA_TOOL_OPTIONS: "-javaagent:/otel/opentelemetry-javaagent.jar"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel:4317"
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_COMPRESSION: gzip
      OTEL_SERVICE_NAME: study-plan-service
      OTEL_RESOURCE_ATTRIBUTES: service.name=study-plan-service,service.namespace=dev,service.version=0.0.1,environment=dev
      OTEL_METRICS_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: parentbased_traceidratio
      OTEL_TRACES_SAMPLER_ARG: 1.0
    volumes:
      - ./otel/opentelemetry-javaagent.jar:/otel/opentelemetry-javaagent.jar
    healthcheck:
      test: [ "CMD", "/workspace/health-check" ]
      start_period: 30s
      timeout: 10s
      retries: 5
    ports:
      - "8050:8050"
      - "9050:9050"
    depends_on:
      redis-cache:
        condition: service_healthy
      otel:
        condition: service_started
    networks:
      - is-stag-backend

  user-service:
    profiles:
      - prod
    container_name: user-service
    image: ghcr.io/jakubpavlicek/user-service:0.0.1
    pull_policy: never
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      THC_PATH: /actuator/health
      THC_PORT: 8020
      JAVA_TOOL_OPTIONS: "-javaagent:/otel/opentelemetry-javaagent.jar"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel:4317"
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_COMPRESSION: gzip
      OTEL_SERVICE_NAME: user-service
      OTEL_RESOURCE_ATTRIBUTES: service.name=user-service,service.namespace=dev,service.version=0.0.1,environment=dev
      OTEL_METRICS_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: parentbased_traceidratio
      OTEL_TRACES_SAMPLER_ARG: 1.0
    volumes:
      - ./otel/opentelemetry-javaagent.jar:/otel/opentelemetry-javaagent.jar
    healthcheck:
      test: [ "CMD", "/workspace/health-check" ]
      start_period: 30s
      timeout: 10s
      retries: 5
    ports:
      - "8020:8020"
      - "9020:9020"
    depends_on:
      redis-cache:
        condition: service_healthy
      otel:
        condition: service_started
    networks:
      - is-stag-backend

  codelist-service:
    profiles:
      - prod
    container_name: codelist-service
    image: ghcr.io/jakubpavlicek/codelist-service:0.0.1
    pull_policy: never
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
      THC_PATH: /actuator/health
      THC_PORT: 8010
      JAVA_TOOL_OPTIONS: "-javaagent:/otel/opentelemetry-javaagent.jar"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel:4317"
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_COMPRESSION: gzip
      OTEL_SERVICE_NAME: codelist-service
      OTEL_RESOURCE_ATTRIBUTES: service.name=codelist-service,service.namespace=dev,service.version=0.0.1,environment=dev
      OTEL_METRICS_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: parentbased_traceidratio
      OTEL_TRACES_SAMPLER_ARG: 1.0
    volumes:
      - ./otel/opentelemetry-javaagent.jar:/otel/opentelemetry-javaagent.jar
    healthcheck:
      test: [ "CMD", "/workspace/health-check" ]
      start_period: 30s
      timeout: 10s
      retries: 5
    ports:
      - "8010:8010"
      - "9010:9010"
    depends_on:
      redis-cache:
        condition: service_healthy
      otel:
        condition: service_started
    networks:
      - is-stag-backend

  # --- Observability ---

  otel:
    profiles:
      - dev
      - prod
    container_name: otel
    image: otel/opentelemetry-collector-contrib:0.142.0
    command: [ --config=/etc/otel-config.yml ]
    volumes:
      - ./observability/opentel-config.yaml:/etc/otel-config.yml
    ports:
      - "4318:4318"
      - "4317:4317"
      - "55679:55679"
    depends_on:
      loki:
        condition: service_started
      prometheus:
        condition: service_started
      tempo:
        condition: service_started
    networks:
      - is-stag-backend
      - is-stag-observability

  loki:
    profiles:
      - dev
      - prod
    container_name: loki
    image: grafana/loki:3.6.3
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./observability/loki-config.yaml:/etc/loki/local-config.yaml
    ports:
      - "3100"
    networks:
      - is-stag-observability

  grafana:
    profiles:
      - dev
      - prod
    container_name: grafana
    image: grafana/grafana:12.3
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_INSTALL_PLUGINS=redis-datasource
    volumes:
      - ./observability/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/default.yml
      - ./observability/grafana-dashboards.yaml:/etc/grafana/provisioning/dashboards/default.yml
      - ./observability/dashboards:/etc/grafana/provisioning/dashboards/json
    ports:
      - "3000:3000"
    networks:
      - is-stag-observability
      - is-stag-backend

  tempo:
    profiles:
      - dev
      - prod
    container_name: tempo
    image: grafana/tempo:2.9.0
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./observability/tempo-config.yaml:/etc/tempo.yaml
    ports:
      - "4317"
      - "4318"
    networks:
      - is-stag-observability

  prometheus:
    profiles:
      - dev
      - prod
    container_name: prometheus
    image: prom/prometheus:v3.8.1
    command: [
      --config.file=/etc/prometheus/prometheus.yml,
      --web.enable-otlp-receiver,
      --web.enable-remote-write-receiver
    ]
    volumes:
      - ./observability/prometheus-config.yaml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - is-stag-observability

networks:
  is-stag-frontend:
    driver: bridge
  is-stag-backend:
    driver: bridge
  is-stag-observability:
    driver: bridge
