server:
  port: 8010
  http2:
    enabled: true
  compression:
    enabled: true

grpc:
  server:
    port: 9010
    reflection:
      enabled: true
  validation:
    server:
      enabled: true

spring:
  application:
    name: codelist-service
  autoconfigure:
    exclude:
      - org.springframework.boot.security.autoconfigure.UserDetailsServiceAutoConfiguration
  jackson:
    mapper:
      sort-properties-alphabetically: false
  jpa:
    properties:
      hibernate:
        order_inserts: true
        order_updates: true
        connection:
          provider_disables_autocommit: true
        query:
          in_clause_parameter_padding: true
          fail_on_pagination_over_collection_fetch: true
          plan_cache_max_size: 4096
        jdbc:
          fetch_size: 50
    hibernate:
      ddl-auto: none
    open-in-view: false
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      auto-commit: false
      minimum-idle: 5
      maximum-pool-size: 30
      idle-timeout: 600000
      connection-timeout: 30000
      max-lifetime: 1800000
      data-source-properties:
        oracle:
          jdbc:
            defaultConnectionValidation: LOCAL
            implicitStatementCacheSize: 200
  cache:
    type: redis
    redis:
      time-to-live: 300000 # 5 minutes
      cache-null-values: false
  mvc:
    problemdetails:
      enabled: true
  threads:
    virtual:
      enabled: true

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    url: /openapi.yaml
    disable-swagger-default-url: true

---

spring:
  config:
    activate:
      on-profile: prod
  data:
    redis:
      sentinel:
        master: mymaster
        nodes:
          - redis-cache:26379
        password: redis
      password: redis

---

spring:
  config:
    activate:
      on-profile: perftest
  data:
    redis:
      sentinel:
        master: mymaster
        nodes:
          - redis-cache:26379
        password: redis
      password: redis

---

spring:
  config:
    activate:
      on-profile: dev
  data:
    redis:
#      host: redis-cache
      host: localhost
      port: 6379
      password: redis
