apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: selfsigned-cert
spec:
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
  dnsNames:
    - is-stag.cz
  secretName: selfsigned-cert-tls