apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: selfsigned-cert
spec:
  issuerRef:
    name: selfsigned-issuer
    kind: Issuer
  dnsNames:
    - prometheus.is-stag.internal
  secretName: selfsigned-prometheus-cert-tls