apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: {{ .Values.collector.name | default "otel" }}
spec:
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      prometheus/collector:
        config:
          scrape_configs:
            - job_name: 'otel-collector'
              scrape_interval: 15s
              static_configs:
                - targets: [ '0.0.0.0:8888' ]
            {{- if .Values.collector.scrape.keycloak.enabled }}
            - job_name: 'keycloak'
              scrape_interval: 15s
              metrics_path: {{ .Values.collector.scrape.keycloak.metricsPath }}
              static_configs:
                - targets: [ {{ .Values.collector.scrape.keycloak.target | quote }} ]
            {{- end }}

    processors:
      batch: { }
      memory_limiter:
        check_interval: 5s
        limit_percentage: {{ .Values.collector.memoryLimit.limitPercentage }}
        spike_limit_percentage: {{ .Values.collector.memoryLimit.spikeLimitPercentage }}
      # see https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1060
      tail_sampling:
        policies: [
          {
            name: filter_url_path,
            type: string_attribute,
            string_attribute: {
              key: url.path,
              values: {{ .Values.collector.sampling.excludePaths | toJson }},
              enabled_regex_matching: true,
              invert_match: true
            }
          }
        ]

    exporters:
      debug: { }
      otlphttp/traces:
        endpoint: {{ .Values.collector.endpoints.tempo }}
        tls:
          insecure: true
      otlphttp/metrics:
        endpoint: {{ .Values.collector.endpoints.prometheus }}
        tls:
          insecure: true
      otlphttp/logs:
        endpoint: {{ .Values.collector.endpoints.loki }}
        tls:
          insecure: true

    extensions:
      health_check:
        endpoint: 0.0.0.0:13133
        path: "/ready"

    service:
      extensions: [ health_check ]
      pipelines:
        traces:
          receivers: [ otlp ]
          processors: [ memory_limiter, batch, tail_sampling ]
          exporters: [ debug, otlphttp/traces ]
        metrics:
          receivers: [ otlp, prometheus/collector ]
          processors: [ memory_limiter, batch ]
          exporters: [ debug, otlphttp/metrics ]
        logs:
          receivers: [ otlp ]
          processors: [ memory_limiter, batch ]
          exporters: [ debug, otlphttp/logs ]