name: Backend CI

on:
  push:
    paths:
      - 'services/**'
      - 'proto/**'

jobs:
  protolint-lint-proto:
    name: Protolint Lint Proto
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Set up protolint
        run: |
          PROTOLINT_VERSION="0.56.4"
          PB_REL="https://github.com/yoheimuta/protolint/releases/download/v${PROTOLINT_VERSION}/protolint_${PROTOLINT_VERSION}_linux_amd64.tar.gz"
          curl -sSL "${PB_REL}" | tar -xz
          sudo mv protolint /usr/local/bin/
          protolint --version

      - name: Run protolint
        run: protolint lint proto

  vacuum-lint-openapi:
    name: Vacuum Lint OpenAPI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install Vacuum
        run: |
          curl -fsSL https://quobix.com/scripts/install_vacuum.sh | sh
          vacuum version

      - name: Run Vacuum Lint
        working-directory: services
        run: vacuum lint */src/main/resources/static/openapi.yaml --fail-severity error --min-score 95

  sonar-lint-code:
    name: SonarQube Lint Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Setup JDK 25
        uses: actions/setup-java@v5.0.0
        with:
          distribution: liberica
          java-version: 25
          cache: maven

      - name: Cache SonarQube packages
        uses: actions/cache@v4.2.4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Build and analyze
        working-directory: services
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B -DskipTests verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=JakubPavlicek_is-stag

  build-and-publish-services:
    name: Build and Publish Service Docker Images
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      packages: write
    needs:
      - protolint-lint-proto
      - vacuum-lint-openapi
      - sonar-lint-code
    defaults:
      run:
        working-directory: services
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup JDK 25
        uses: actions/setup-java@v5.0.0
        with:
          distribution: liberica
          java-version: 25
          cache: maven

      - name: Build and Push Spring Boot Docker Images
        run: |
          mvn -B -T 1C -DskipTests package spring-boot:build-image \
            -Dspring-boot.build-image.publish=true \
            -Dgithub.username=${{ secrets.GHCR_USERNAME }} \
            -Dgithub.password=${{ secrets.GITHUB_TOKEN }}
