name: Backend CI

on:
  push:
    paths:
      - 'services/**'
      - 'proto/**'
      - '.github/workflows/backend-ci.yaml'

jobs:
  protolint-lint-proto:
    name: Protolint Lint Proto
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Run protolint
        run: protolint lint proto

  vacuum-lint-openapi:
    name: Vacuum Lint OpenAPI
    runs-on: self-hosted
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Run Vacuum Lint
        working-directory: services
        run: vacuum lint */src/main/resources/static/openapi.yaml --fail-severity error --min-score 95

  sonar-lint-code:
    name: SonarQube Lint Code
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Cache SonarQube packages
        uses: actions/cache@v4.2.4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Build and analyze
        working-directory: services
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B -DskipTests verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=JakubPavlicek_is-stag

  publish-jars:
    name: Publish Service JARs
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    needs:
      - protolint-lint-proto
      - vacuum-lint-openapi
      - sonar-lint-code
    defaults:
      run:
        working-directory: services
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Publish packages
        run: mvn -T 1C -DskipTests --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-docker-images:
    name: Publish Service Docker Images
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    needs:
      - protolint-lint-proto
      - vacuum-lint-openapi
      - sonar-lint-code
    defaults:
      run:
        working-directory: services
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Spring Boot Docker Images
        env:
          GITHUB_USERNAME: ${{ secrets.GHCR_USERNAME }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn -B -T 1C -DskipTests package spring-boot:build-image \
            -Dspring-boot.build-image.publish=true \
            -Dgithub.username=$GITHUB_USERNAME \
            -Dgithub.password=$GITHUB_TOKEN
