name: Backend CI

on:
  push:
    paths:
      - 'services/**'
      - 'proto/**'
      - '!**/*.md'
      - '.github/workflows/backend-ci.yaml'

jobs:
  protolint-lint-proto:
    name: Protolint Lint Proto
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Set up protolint
        run: |
          PROTOLINT_VERSION="0.56.4"
          PB_REL="https://github.com/yoheimuta/protolint/releases/download/v${PROTOLINT_VERSION}/protolint_${PROTOLINT_VERSION}_linux_amd64.tar.gz"
          curl -sSL "${PB_REL}" | tar -xz
          sudo mv protolint /usr/local/bin/
          protolint --version

      - name: Run protolint
        run: protolint lint proto

  vacuum-lint-openapi:
    name: Vacuum Lint OpenAPI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install Vacuum
        run: |
          curl -fsSL https://quobix.com/scripts/install_vacuum.sh | sh
          vacuum version

      - name: Run Vacuum Lint
        working-directory: services
        run: vacuum lint */src/main/resources/static/openapi.yaml --fail-severity error --min-score 95

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          distribution: liberica
          java-version: 25
          cache: maven

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Verify Docker is running
        run: docker version

      - name: Run tests with coverage
        working-directory: services
        run: mvn -B clean test

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
          name: test-results
          path: services/**/target/surefire-reports/
          retention-days: 30

      - name: Upload JaCoCo coverage data
        uses: actions/upload-artifact@v6.0.0
        with:
          name: jacoco-reports
          path: services/**/target/site/jacoco/jacoco.xml
          retention-days: 30

      - name: Generate test report
        if: always()
        working-directory: services
        run: mvn surefire-report:report-only

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
          name: test-report
          path: services/target/reports/
          retention-days: 30

  sonar-analyze:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for better analysis

      - name: Setup JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          distribution: liberica
          java-version: 25
          cache: maven

      - name: Cache SonarQube packages
        uses: actions/cache@v5.0.3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Download JaCoCo coverage reports
        uses: actions/download-artifact@v7.0.0
        with:
          name: jacoco-reports
          path: services

      - name: Run SonarQube analysis
        working-directory: services
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B -DskipTests verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=JakubPavlicek_is-stag

#  publish-jars:
#    name: Publish Service JARs
#    runs-on: ubuntu-latest
#    permissions:
#      contents: read
#      packages: write
#    needs:
#      - protolint-lint-proto
#      - vacuum-lint-openapi
#      - test
#      - sonar-analyze
#    defaults:
#      run:
#        working-directory: services
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v6.0.2
#
#      - name: Setup JDK 25
#        uses: actions/setup-java@v5.1.0
#        with:
#          distribution: liberica
#          java-version: 25
#          cache: maven
#
#      - name: Publish packages
#        run: mvn -T 1C -DskipTests -B deploy
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-docker-images:
    name: Publish Service Docker Images
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      packages: write
    needs:
      - protolint-lint-proto
      - vacuum-lint-openapi
      - test
      - sonar-analyze
    defaults:
      run:
        working-directory: services
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          distribution: liberica
          java-version: 25
          cache: maven

      - name: Build and Push Spring Boot Docker Images
        run: |
          mvn -B -T 1C -DskipTests spring-boot:build-image \
            -Dspring-boot.build-image.publish=true \
            -Dgithub.username=${{ secrets.GHCR_USERNAME }} \
            -Dgithub.password=${{ secrets.GITHUB_TOKEN }}
