name: Keycloak CI

on:
  push:
    paths:
      - 'keycloak/**'
      - '!**/*.md'
      - '.github/workflows/keycloak-ci.yaml'

jobs:
  build-and-publish-keycloak:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Multi-Arch Keycloak Image
        working-directory: ./keycloak
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --tag ghcr.io/${{ secrets.DOCKERHUB_USERNAME }}/is-stag-keycloak:latest \
            --push \
            .